<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 col-md-2">
                <a class="logo" routerLink="/">Elmontage</a>
            </div>
            <div class="col-8 col-md-10">
                <nav>
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/">მთავარი</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/about">ჩვენს შესახებ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/services">სერვისები</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/projects">პროექტები</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/partners">პარტნიორები</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/contact">კონტაქტი</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>