.container {
    min-height: calc(100vh - 100px);
    /* 100px is the height of the header */
    display: flex;
    flex-direction: column;
}

.main-background {
    background-image: url('../../assets/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}